.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.appHeader {
  width: 100%;
  height: 150px;
  background-color: #51bb85;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  overflow: auto;
}

.appLogo {
  display: block;
}

.container {
  width: 100%;
  position: fixed;
  top: 170px;
  left: 0;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  overflow: auto;
  flex-direction: column;
}

.addProductInput {
  display: block;
  height: 35px;
}

.productList {
  display: block;
  text-align: left;
}

.listItem {
  height: 25px;
}

.buttonDelete {
  float: right;
}
